<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Progress</title>
    <style>
        #log-container {
            height: 400px;
            overflow-y: auto;
        }
    </style>
</head>
<body>
<div id="log-container"></div>
<script th:inline="javascript">
    const searchId = /*[[${searchId}]]*/ '';
    function updateLog() {
        fetch('/logs/' + searchId)
            .then(response => response.text())
            .then(logs => {
                const logContainer = document.getElementById('log-container');
                logContainer.innerHTML = logs;
                logContainer.scrollTop = logContainer.scrollHeight;
            })
            .catch(error => console.error('Error fetching log messages:', error));
        setTimeout(updateLog, 1000);
    }
    function checkStatusAndRedirect() {
        const url = '/status/' + searchId;
        fetch(url)
            .then(response => {
                return response.json();
            })
            .then(status => {
                if (status.isComplete) {
                    window.location.href = '/results/' + searchId;
                }
            })
            .catch(error => console.error('Error fetching status:', error));
        setTimeout(checkStatusAndRedirect, 5000);
    }
    updateLog();
    checkStatusAndRedirect();
</script>
</body>
</html>
